[submodule "ThirdParty/jsoncons"]
	path = ThirdParty/jsoncons
	url = https://github.com/danielaparker/jsoncons
[submodule "ThirdParty/pugixml"]
	path = ThirdParty/pugixml
	url = https://github.com/zeux/pugixml
